/*====================== mode responsive ======================*/
/* mobile entre 320 et 600px soit 36em=600px*/
/* tablette entre 600 et 1024px soit 63em=1024*/
/* pc et autre au dela de 1024*/
@media screen and (max-width: 63em) {
  body {
    width: auto;
    text-align: center;
    margin: 0em;
  }

  /*header*/
  header {
    width: 100%;
    margin-top: 1.5em;
    margin-bottom: 0em;
  }

  .entete {
    background: green;
    width: 15em;
    margin-top: 1.5em;
    margin-bottom: 0em;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    background: #F2F2F2;
  }

  .info {
    background: white;
    width: auto;
    height: 15em;
    padding-left: 1em;
    padding-right: 1em;
  }

  img {
    width: auto;
    height: 2em;
    margin-left: auto;
  }

  .choisissez, .composition, .Deguster {
    background-color: #F2F2F2;
    width: 19.2em;
    height: 4em;
    border-radius: 1em;
    margin: 0em 0.2em 1em 0.5em;
  }

  .logo-explication {
    float: left;
  }

  h6 {
    text-align: left;
  }

  /* section resto*/
  #conteneur {
    width: 100%;
    background: #dfdfdf;
    padding-bottom: 2em;
    margin-bottom: none;
  }

  .bloc_resto {
    background: white;
    width: auto;
    height: 16.5em;
    border-radius: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    border: 1px solid black;
  }

  .img_resto {
    position: relative;
    width: 100%;
    height: 68.5%;
  }

  .image-cover {
    object-fit: cover;
    object-position: 0 -2.5em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .image-cover2 {
    object-fit: cover;
    object-position: 0 -8.5em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .image-cover1 {
    object-fit: cover;
    object-position: 0 -3em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  img {
    width: 100%;
    height: 100%;
  }

  .description {
    width: auto;
    height: 1.3em;
  }

  .description h5 {
    font-family: arial black;
    font-size: 1em;
    float: left;
    margin: 1em 0em 0em 0.5em;
    text-align: left;
  }

  i {
    font-size: 1.5em;
    float: right;
    margin: 1em 1em 0 0;
    color: green;
  }

  .sous-titre, .ville {
    width: auto;
    text-align: left;
    font-family: "roboto";
    font-size: 1em;
    margin-top: 1.6em;
    margin-left: 1em;
  }

  footer {
    width: auto;
    height: 10em;
    margin-left: auto;
    margin-right: auto;
    background: #292929;
    padding: 1.4em;
  }

  .pied_de_page {
    width: 7em;
    filter: invert(1);
  }

  /*============ menu==========*/
  .entete-menu {
    width: 15em;
    height: 3em;
    background: yellow;
  }

  .logo {
    width: 10em;
    height: 2em;
    background: yellow;
  }

  .btn-retour {
    width: 5em;
    height: 2em;
    float: middle;
    background: blue;
    margin-top: 0em;
  }

  .restaurant {
    width: 100%;
    margin: 0em;
  }

  .menu {
    position: relative;
    width: 100%;
    height: 50em;
  }

  .img_menu {
    position: absolute;
    width: 100%;
    height: 16.5em;
    opacity: 1;
    background: red;
  }

  .liste_menu {
    width: 100%;
    height: auto;
    z-index: 1;
    margin-top: 13em;
    background: #F2F2F2;
    border-top-left-radius: 4em;
    border-top-right-radius: 4em;
  }

  img {
    width: 100%;
  }

  h2 {
    font-size: 1em;
    font-family: "Roboto";
    text-align: left;
    margin-left: 1.2em;
    font-weight: normal;
  }

  .nom-resto h1 {
    font-family: "shrikhand";
    font-size: 1.5em;
    text-align: left;
    margin-left: 1em;
  }

  .nom-resto i {
    font-size: 1.5em;
    margin-top: 0em;
    margin-right: 1.2em;
  }

  .btn {
    background-color: white;
    width: 94%;
    height: 4em;
    border-radius: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    padding: 0.2em;
  }

  .tarif {
    float: right;
    margin-top: 2em;
    margin-right: 1.5em;
    font-weight: bold;
  }

  p.detail {
    text-align: left;
    font-family: "roboto";
    font-size: 0.9em;
    margin-top: 0em;
    margin-left: 0.5em;
    color: black;
    margin-bottom: 0em;
    text-overflow: ellipsis;
  }

  h3 {
    font-size: 1.05em;
    margin: 0.2em 0em 0em 0.5em;
    font-family: "Roboto";
    text-align: left;
  }

  .intituler {
    float: left;
    width: 80%;
    height: 4em;
    text-overflow: ellipsis;
  }

  .prix {
    background: #99E2D0;
    float: right;
    width: auto;
    height: 4em;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    text-overflow: ellipsis;
  }

  .validation {
    background: white;
    width: 4em;
    height: 4em;
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    text-overflow: ellipsis;
  }

  :active .validation {
    border-radius: 0em;
  }

  /*  animation commande menu*/
  .btn:active .validation {
    transform: translate(-65px, 0);
  }

  .validation {
    transform-origin: 100%, 0;
    transform: scaleX(1);
    transition: transform 400ms ease-in-out;
  }
}

/*# sourceMappingURL=style.css.map */
