/*============ mode responsive ==============*/
/*loading spinner*/
.font-loading {
  width: 100%;
  height: 4em;
  background: #a7a6a6;
  animation: font-loading 3000ms;
  position: absolute;
  z-index: 2;
  opacity: 0;
}

.load .fas {
  margin-top: 0.5em;
  font-size: 2em;
  animation: fasrotate 3000ms;
}

@keyframes fasrotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(2160deg);
  }
}
.load {
  width: 9em;
  height: 9em;
  margin-top: 0%;
  margin-left: 0%;
  animation: load 3000ms;
  opacity: 0;
  position: absolute;
  z-index: 3;
}
.load__circle--0 {
  width: 9em;
  height: 9em;
  background: #9356DC;
  opacity: 0.5;
  border-radius: 50%;
  position: absolute;
  animation: circle 3000ms backwards;
}
.load__circle--1 {
  width: 7.7em;
  height: 7.7em;
  background: #a7a6a6;
  border-radius: 50%;
  position: absolute;
  margin-left: 10px;
  margin-top: 10px;
  animation: circle 3000ms backwards;
}
.load__circle--2 {
  width: 6.5em;
  height: 6.5em;
  border-radius: 50%;
  background: #FF79DA;
  opacity: 0.5;
  margin-top: 20px;
  margin-left: 20px;
  position: absolute;
  animation: circle 3000ms backwards;
}
.load__circle--3 {
  width: 5.2em;
  height: 5.2em;
  border-radius: 50%;
  margin-top: 0em;
  background: #a7a6a6;
  position: absolute;
  margin-left: 30px;
  margin-top: 30px;
  animation: circle 3000ms backwards;
}
.load__circle--4 {
  width: 4em;
  height: 4em;
  background: #99E2D0;
  opacity: 0.5;
  border-radius: 50%;
  margin-top: 40px;
  margin-left: 40px;
  position: absolute;
  animation: circle 3000ms backwards;
}

.load__circle--0 {
  animation-delay: 500ms;
}

.load__circle--1 {
  animation-delay: 400ms;
}

.load__circle--2 {
  animation-delay: 300ms;
}

.load__circle--3 {
  animation-delay: 200ms;
}

.load__circle--4 {
  animation-delay: 0ms;
}

@keyframes circle {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes load {
  0% {
    transform: scale(1);
    opacity: 1;
    margin-top: 50%;
    margin-left: 30%;
  }
  50% {
    transform: scale(1);
    opacity: 1;
    margin-top: 50%;
    margin-left: 30%;
  }
  80% {
    transform: scale(1);
    opacity: 1;
    margin-top: 50%;
    margin-left: 30%;
  }
  95% {
    transform: scale(1);
    opacity: 1;
    margin-top: 50%;
    margin-left: 30%;
  }
  100% {
    transform: scale(0);
    opacity: 0;
    margin-top: 50%;
    margin-left: 30%;
  }
}
@keyframes font-loading {
  0% {
    transform: scaleY(65);
    opacity: 0.9;
  }
  98% {
    transform: scaleY(65);
    opacity: 0.9;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
/*==== fin loading spinner====*/
/* animation bouton menu*/
@keyframes btn_entrees {
  0% {
    transform-origin: 50% bottom;
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform-origin: 50% bottom;
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes btn_plats {
  0% {
    transform-origin: 50% bottom;
    transform: scaleY(0);
    opacity: 0;
  }
  20% {
    transform-origin: 50% bottom;
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform-origin: 50% bottom;
    transform: scaleY(1);
    opacity: 1;
  }
}
@keyframes btn_desserts {
  0% {
    transform-origin: 50% bottom;
    transform: scaleY(0);
    opacity: 0;
  }
  20% {
    transform-origin: 50% bottom;
    transform: scaleY(0);
    opacity: 0;
  }
  100% {
    transform-origin: 50% bottom;
    transform: scaleY(1);
    opacity: 1;
  }
}
/* fin d'animation bouton*/
/*  animation validation menu*/
.btn_entrees:active .prix span, .btn_plats:active .prix span, .btn_desserts:active .prix span, .X_btn_plats:active .prix span {
  transform: translate(-2em, 0) rotate(360deg);
}
.btn_entrees:active .X_prix .big-bloc, .btn_plats:active .X_prix .big-bloc, .btn_desserts:active .X_prix .big-bloc, .X_btn_plats:active .X_prix .big-bloc {
  transform: translate(-2em, 0) rotate(360deg);
}
.btn_entrees:active .validation, .btn_plats:active .validation, .btn_desserts:active .validation, .X_btn_plats:active .validation {
  transform: translate(-3em, 0);
}
.btn_entrees:active .X_validation, .btn_plats:active .X_validation, .btn_desserts:active .X_validation, .X_btn_plats:active .X_validation {
  transform: translate(-3em, 0);
}
.btn_entrees :active .detail, .btn_plats :active .detail, .btn_desserts :active .detail, .X_btn_plats :active .detail {
  width: 65%;
}
.btn_entrees :active h3, .btn_plats :active h3, .btn_desserts :active h3, .X_btn_plats :active h3 {
  width: 65%;
}

.validation, .X_validation {
  transform-origin: 100% 0;
  transition: transform 400ms ease-in-out;
}

/*===== fin animation validation ====*/
body {
  width: auto;
  text-align: center;
  margin: 0em;
  position: absolute;
  z-index: 3;
}

/*header*/
.header_resto {
  width: 100%;
  margin-top: 0em;
  margin-bottom: 0em;
}

.entete_resto {
  width: auto;
  height: 2.5em;
  margin: 0;
  padding-top: 0em;
  padding-bottom: 0.5em;
  box-shadow: 0em 0.4em 0.4em #d5d5d5;
}

.titre-site {
  font-family: "shrikhand";
  font-size: 1.8em;
}

nav {
  width: 100%;
  margin-top: 0.3em;
  height: 18.5em;
  background: #f6f6f6;
}

.search {
  width: 100%;
  height: 2.5em;
  background: #eaeaea;
}

.search_box {
  width: 70%;
  height: 2.5em;
  margin: auto;
}

.search_box input[type=text] {
  font-size: 1em;
  width: 70%;
  float: right;
  background: #eaeaea;
  border: 0;
  outline: 0;
  font-weight: bold;
  padding-top: 0.65em;
  padding-bottom: 0.65em;
}

.search_box i {
  font-size: 1em;
  margin-top: 0.7em;
  margin-left: 2em;
  width: 2em;
}

input ::placeholder {
  color: black;
}

.titre h2 {
  font-size: 1.1em;
  font-family: "Roboto bold", arial;
  font-weight: 800;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2em;
  text-align: center;
  margin-bottom: 0.5em;
}

.titre p {
  margin-top: 0.5em;
  margin-bottom: 2em;
  font-size: 0.9em;
  font-family: "Roboto Regular", arial;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.explore p {
  color: white;
}

.explore {
  background: linear-gradient(#FF79DA, #9356DC);
  width: 60%;
  height: 3.5em;
  padding-top: 0.2em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2em;
  font-family: "Roboto Regular", arial;
  font-size: 0.8em;
  box-shadow: 0em 0.4em 0.4em #d3d3d3;
}

a {
  text-decoration: none;
}

.info {
  background: white;
  width: auto;
  height: 23em;
  padding-left: 1em;
  padding-right: 1em;
}

.info h6, #conteneur h6 {
  font-size: 1.4em;
  font-family: "Roboto", arial;
  font-weight: 800;
  margin-bottom: 1.2em;
}

.choisissez, .composition, .Deguster {
  background-color: #f6f6f6;
  width: auto;
  height: 4.5em;
  border-radius: 1em;
  margin: 0em 0em 1em 1em;
  padding: 0;
  box-shadow: 0em 0.4em 0.4em #e6e5e5;
}

.choisissez :hover, .composition :hover, .Deguster :hover {
  background-color: #fafafa;
  border-radius: 1em;
  box-shadow: 0em 0.4em 0.2em #e8e6e6;
}
.choisissez:hover i, .composition:hover i, .Deguster:hover i {
  background-color: #fafafa;
}

.first, .second, .third {
  width: 1em;
  height: 1em;
  background: #9356DC;
  border-radius: 0.7em;
  padding: 0.3em 0.2em 0.2em 0.2em;
  float: left;
  margin-top: 1.5em;
  margin-left: -0.7em;
}

.number {
  margin-top: 0.1em;
  font-size: 0.8em;
  color: white;
  font-family: "Roboto Regular", arial;
}

.explication i {
  background-color: #f6f6f6;
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  float: left;
  color: #7e7e7e;
  font-size: 1em;
  margin: 1em 0.8em 0em 0.8em;
  padding: 0.8em 0.2em 0.2em 0.2em;
}

.texte {
  font-family: "Roboto Bold", arial;
  font-size: 0.9em;
  font-weight: 600;
  padding: 1.9em;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

h6 {
  text-align: left;
}

/* section resto*/
#conteneur {
  width: 100%;
  background: #F2F2F2;
  padding-top: 0.1em;
  padding-bottom: 2em;
}

#conteneur h6 {
  margin-left: 1em;
}

.bloc_resto {
  background: white;
  width: auto;
  height: 14em;
  border-radius: 1em;
  margin: 0em 1em 1em 1em;
  box-shadow: 0em 0.4em 0.4em #e6e5e5;
}

.img_resto {
  position: relative;
  width: 100%;
  height: 68.5%;
}

.new {
  position: relative;
  background: #99E2D0;
  width: 5.5em;
  height: 1em;
  float: right;
  padding: 0.6em 0.4em 0.8em 0.4em;
  margin-top: 1.2em;
  margin-right: 1em;
  z-index: 1;
  color: #26866e;
  font-family: "roboto regular", arial;
  font-size: 0.8em;
}

.image-cover {
  margin-top: -2.9em;
  object-fit: cover;
  object-position: 0 -3.5em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.image-cover1 {
  object-fit: cover;
  object-position: 0 -9em;
  margin-top: -2.9em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.image-cover2 {
  object-fit: cover;
  object-position: 0 -3em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.image-cover3 {
  object-fit: cover;
  object-position: 0 -3em;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

img {
  width: 100%;
  height: 100%;
}

.description {
  width: auto;
  height: 1.3em;
}

.description h5 {
  width: 80%;
  text-align: left;
  font-family: "roboto Bold", arial;
  font-weight: bolder;
  color: black;
  font-size: 1em;
  float: left;
  margin: 1em 0em 0em 1em;
}

.ville {
  width: auto;
  text-align: left;
  font-family: "roboto", arial;
  font-size: 1em;
  font-weight: lighter;
  margin-top: 1em;
  margin-left: 1em;
  color: black;
}

.no-like {
  margin-top: 1em;
  margin-left: 80%;
  width: 10%;
  height: 3em;
  position: absolute;
  padding: 0;
  color: black;
}

.like {
  width: 10%;
  height: 3em;
  opacity: 0.8;
}

.description .far {
  float: right;
  margin: 0.1em 1em 0em 0em;
  font-size: 1.6em;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.description .fas {
  float: right;
  margin: 1.2em 2.5em 0em 0em;
  font-size: 0.8em;
  position: relative;
  z-index: 0;
  color: white;
  transition: transform 400ms ease-in-out;
}

.description:hover .fas {
  margin-right: 2.4em;
  transform: scale(2);
  transform-origin: bottom;
  background-clip: unset;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(2);
}
.description:hover .far {
  display: none;
}

.pied_resto, .pied_menu {
  width: auto;
  height: 10em;
  margin-left: auto;
  margin-right: auto;
  background: #353535;
  padding: 1.4em;
}

.titre-site-footer {
  font-size: 1.2em;
  margin-top: 0em;
  margin-bottom: 1em;
  font-family: "shrikhand";
  filter: invert(1);
}

.info_footer_lien a {
  font-family: "roboto regular", arial;
  color: white;
  margin-bottom: 0.5em;
  text-decoration: none;
  font-weight: lighter;
  float: left;
}

.partenaire .fas {
  font-size: 0.7em;
  margin-right: 1em;
}

.proposition .fas {
  font-size: 0.8em;
  margin-right: 1em;
}

.proposition, .partenaire, .mentions, .contact {
  width: 100%;
  height: 1.7em;
}

/*====== pages menu ======*/
.restaurant {
  width: 100%;
  text-align: center;
  margin: 0em;
  position: absolute;
  z-index: 3;
}

.entete-menu {
  width: 100%;
  height: 2.4em;
  padding-top: 1.5em;
}

.logo_menu {
  width: 50%;
  font-family: "shrikhand";
  font-size: 0.9em;
  margin-top: -2em;
  padding-bottom: 0em;
  margin-left: auto;
  margin-right: auto;
}

.logo_menu_img {
  margin-top: 0;
  margin-bottom: 3em;
}

.btn-retour {
  width: 3em;
  height: 2em;
  font-size: 0.8em;
  float: left;
  margin-left: 0.5em;
  padding-top: 0.2em;
}

.btn-retour .fas {
  font-size: 1.3em;
  color: black;
}

.menu {
  position: relative;
  width: 100%;
  height: 50em;
}

.img_menu {
  position: absolute;
  width: 100%;
  height: 16.5em;
}

.img_menu_cover {
  object-fit: cover;
  object-position: 0 -7em;
}

.liste_menu {
  width: 100%;
  height: auto;
  position: absolute;
  margin-top: 13.5em;
  background: #f6f6f6;
  border-top-left-radius: 2.5em;
  border-top-right-radius: 2.5em;
}

img {
  width: 100%;
}

.menu h2 {
  font-size: 1em;
  font-family: "Roboto";
  text-align: left;
  margin-left: 1.5em;
  margin-bottom: 0.2em;
  font-weight: normal;
  border-bottom: 0.2em solid #99E2D0;
  width: 2.5em;
}

article {
  margin-bottom: 3em;
}

.nom-resto h1 {
  font-family: "shrikhand";
  font-size: 1.5em;
  text-align: left;
  padding-left: 1em;
}

.nom-resto .far {
  float: right;
  margin: -0.5em 0em 0em 0em;
  font-size: 1.6em;
  position: relative;
  z-index: 1;
}

.nom-resto .fas {
  float: right;
  margin: 0em 0.5em 0em 0em;
  font-size: 0.8em;
  position: relative;
  z-index: 0;
  color: white;
  transition: transform 400ms ease-in-out;
}

.nom-resto:hover .fas {
  margin-right: 0.5em;
  transform: scale(2);
  transform-origin: bottom;
  background-clip: unset;
  background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), to(#FF79DA));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: scale(2);
}
.nom-resto:hover .far {
  display: none;
}

.btn_entrees, .btn_plats, .btn_desserts {
  background: white;
  width: auto;
  height: 4em;
  border-radius: 1em;
  margin: 1em 1em 1em 1em;
  box-shadow: 0em 0.4em 0.4em #e6e5e5;
  animation: btn_entrees 3s;
  opacity: 1;
}

.btn_plats, .X_btn_plats {
  animation: btn_plats 6s;
}

.btn_desserts {
  animation: btn_desserts 9s;
}

.X_btn_plats {
  background-color: white;
  width: auto;
  height: 5em;
  border-radius: 1em;
  margin: 1em;
  box-shadow: 0em 0.4em 0.4em #e6e5e5;
  animation: btn_plats 6s;
}

.tarif {
  margin-top: 2em;
  margin-right: 0.5em;
  font-weight: bold;
}

.X_tarif {
  margin-top: 2em;
  margin-right: 0.5em;
  font-weight: bold;
}

.detail {
  text-align: left;
  font-family: "roboto";
  font-size: 0.8em;
  margin-top: 0.5em;
  margin-left: 0.5em;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h3 {
  font-size: 1em;
  margin: 0em 0em 0.2em 0.5em;
  font-family: "Roboto";
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.intituler {
  float: left;
  width: 90%;
  position: absolute;
  z-index: 1;
  margin-top: 0.6em;
  margin-left: 0.2em;
  border-bottom-left-radius: 1em;
}

.prix {
  float: right;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.X_prix {
  float: right;
  width: 7em;
  height: 5em;
  margin-left: 59%;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  overflow: hidden;
}

.prix span {
  transition: transform 400ms ease-in-out;
  position: absolute;
  margin-top: 1.5em;
  margin-left: 5.2em;
  float: right;
  color: #f6f6f6;
}

.choix_entrees {
  width: 100%;
  position: relative;
}

.X_prix .big-bloc {
  transition: transform 400ms ease-in-out;
  position: absolute;
  margin-top: 2em;
  margin-left: 5.2em;
  float: right;
  z-index: 1;
  color: #f6f6f6;
}

.prix__valid {
  background: #99E2D0;
  width: 3.2em;
  height: 4em;
  position: absolute;
  margin-left: 3.8em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  overflow: hidden;
}

.X_prix__valid {
  background: #99E2D0;
  width: 3.2em;
  height: 5em;
  position: absolute;
  margin-left: 3.8em;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  overflow: hidden;
}

.validation {
  background: white;
  width: 3.5em;
  float: right;
  height: 4em;
  position: relative;
  z-index: 1;
}

.X_validation {
  background: white;
  width: 3.5em;
  height: 5em;
  float: right;
  position: relative;
  z-index: 1;
}

.commande {
  background: linear-gradient(#FF79DA, #9356DC);
  width: 50%;
  height: 3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  margin-top: 4em;
  margin-bottom: 5em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1.5em;
}

.btn_commande {
  color: white;
  font-family: "Roboto Regular", arial;
  font-size: 1em;
  margin-top: 0.9em;
}

.pied_menu, .pied_menu_francaise, .pied_menu_enchantee {
  width: auto;
  height: 10em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 37em;
  background: #353535;
  padding: 1.4em;
}

.pied_menu_francaise {
  margin-top: 36em;
}

.pied_menu_enchantee {
  margin-top: 41em;
}

.info_footer_lien_menu a {
  font-family: "roboto regular", arial;
  color: white;
  margin-bottom: 0.5em;
  text-decoration: none;
  font-weight: lighter;
  float: left;
}

@media screen and (max-width: 321px) {
  .btn_entrees :active .detail, .btn_plats :active .detail, .btn_desserts :active .detail, .X_btn_plats :active .detail {
    width: 60%;
  }
  .btn_entrees :active h3, .btn_plats :active h3, .btn_desserts :active h3, .X_btn_plats :active h3 {
    width: 60%;
  }

  .search_box {
    width: 100%;
  }

  .texte {
    font-size: 0.7em;
    padding-top: 2.7em;
    padding-bottom: 2.8em;
  }

  .nom-resto .far {
    margin-right: -0.5em;
  }

  .nom-resto .fas {
    margin-top: 0em;
    margin-right: -0.5em;
  }

  .nom-resto:hover .fas {
    margin-right: -0.5em;
  }

  .image-cover {
    margin-top: -2.9em;
    object-fit: cover;
    object-position: 0 -0.2em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .image-cover1 {
    object-fit: cover;
    object-position: 0 -7em;
    margin-top: -2.9em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .image-cover2 {
    object-fit: cover;
    object-position: 0 0em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .image-cover3 {
    object-fit: cover;
    object-position: 0 0em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
  }

  .detail {
    font-size: 0.7em;
  }

  h3 {
    font-size: 0.8em;
  }
}
@media screen and (min-width: 600px) and (max-width: 899px) {
  /*===== loading spinner ===*/
  @keyframes font-loading {
    0% {
      transform: scaleY(44);
      opacity: 0.9;
    }
    98% {
      transform: scaleY(44);
      opacity: 0.9;
    }
    100% {
      transform: scaleY(0);
      opacity: 0;
    }
  }
  @keyframes load {
    0% {
      transform: scale(1);
      opacity: 0.9;
      margin-top: 18%;
      margin-left: 40%;
    }
    50% {
      transform: scale(1);
      opacity: 0.9;
      margin-top: 18%;
      margin-left: 40%;
    }
    80% {
      transform: scale(1);
      opacity: 0.9;
      margin-top: 18%;
      margin-left: 40%;
    }
    95% {
      transform: scale(1);
      opacity: 0.9;
      margin-top: 18%;
      margin-left: 40%;
    }
    100% {
      transform: scale(0);
      opacity: 0;
      margin-top: 15%;
      margin-left: 40%;
    }
  }
  /*======= fin loading spinner====*/
  .logo_resto {
    width: 25%;
    height: 1.7em;
    margin-top: 1.5em;
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    width: 100%;
    margin-top: 0.3em;
    height: 15em;
    background: #f6f6f6;
  }

  .search_box {
    width: 30%;
    padding-left: 0;
  }

  .search i {
    width: 2em;
    margin-left: 1em;
  }

  .search_box input[type=text] {
    width: 70%;
  }

  .info h6 {
    text-align: center;
    margin-top: 1em;
  }

  .choisissez, .composition, .Deguster {
    width: 19.2em;
    margin-left: auto;
    margin-right: auto;
  }

  #conteneur {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1%;
  }

  #conteneur h6 {
    width: 100%;
    flex-direction: column;
  }

  .bloc_resto {
    display: flex;
    width: 44%;
  }

  .image-cover, .image-cover2, .image-cover3 {
    object-position: 0 0em;
  }

  .no-like {
    margin-left: 35%;
  }

  .description:hover .fas {
    margin-top: 1.2em;
    margin-right: 2.6em;
  }

  .pied_resto {
    height: 6em;
  }

  .pied_de_page {
    margin-left: auto;
    margin-right: auto;
  }

  .titre-site-footer {
    text-align: center;
  }

  .info_footer_lien {
    width: 100%;
  }

  .proposition, .partenaire {
    width: 35%;
    float: left;
    margin-left: 14%;
  }

  .mentions {
    width: 25%;
    float: left;
    margin-left: 17.7%;
  }

  .contact {
    width: 25%;
    float: left;
    margin-left: 24.5%;
  }

  /*=======menu======*/
  .nom-resto .no-like {
    width: 100%;
    margin-left: 0;
  }

  .nom-resto .far {
    margin-right: 1em;
  }

  .nom-resto .fas {
    margin-right: 2.5em;
  }

  .nom-resto:hover .fas {
    margin-right: 2.5em;
  }

  .pied_menu {
    margin-top: 37em;
    height: 8em;
  }

  .pied_menu_francaise, .pied_menu_enchantee {
    height: 8em;
  }
}
@media screen and (min-width: 900px) {
  /*===== loading spinner =====*/
  @keyframes font-loading {
    0% {
      transform: scaleY(28);
      opacity: 0.9;
    }
    98% {
      transform: scaleY(28);
      opacity: 0.9;
    }
    100% {
      transform: scaleY(0);
      opacity: 0;
    }
  }
  @keyframes load {
    0% {
      transform: scale(1);
      opacity: 0.9;
      margin-top: 20%;
      margin-left: 45%;
    }
    50% {
      transform: scale(1);
      opacity: 0.9;
      margin-top: 20%;
      margin-left: 45%;
    }
    80% {
      transform: scale(1);
      opacity: 0.9;
      margin-top: 20%;
      margin-left: 45%;
    }
    95% {
      transform: scale(1);
      opacity: 0.9;
      margin-top: 20%;
      margin-left: 45%;
    }
    100% {
      transform: scale(0);
      opacity: 0;
      margin-top: 20%;
      margin-left: 45%;
    }
  }
  /*====== fin loading spinner =====*/
  .btn_entrees :active .detail, .btn_plats :active .detail, .btn_desserts :active .detail, .X_btn_plats :active .detail {
    width: 100%;
  }
  .btn_entrees :active h3, .btn_plats :active h3, .btn_desserts :active h3, .X_btn_plats :active h3 {
    width: 100%;
  }

  .entete_resto {
    width: auto;
    height: 2em;
    padding-bottom: 2em;
  }

  .titre-site {
    font-family: "shrikhand";
    font-size: 3em;
  }

  nav {
    height: 14em;
  }

  .search_box {
    width: 25%;
  }

  .search i {
    width: 1em;
    margin-left: 1%;
    margin-top: 0.4em;
    font-size: 1.3em;
  }

  .search_box input[type=text] {
    width: 65%;
    margin-right: 2em;
  }

  .info {
    height: 9em;
    margin-top: 1em;
  }

  .info h6 {
    text-align: center;
    margin-top: 0.5em;
  }

  .explication {
    display: flex;
    justify-content: space-between;
  }

  .choisissez, .composition, .Deguster {
    width: 19.2em;
  }

  .texte {
    padding-top: 1.8em;
    padding-bottom: 2.2em;
    margin: 0em;
  }

  #conteneur {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1%;
  }

  #conteneur h6 {
    width: 100%;
    flex-direction: column;
  }

  .bloc_resto {
    display: flex;
    width: 21%;
    margin-left: auto;
    margin-right: auto;
  }

  .image-cover, .image-cover1, .image-cover2, .image-cover3 {
    object-position: 0 0em;
  }

  .image-cover1 {
    object-position: 0 -4em;
  }

  .no-like {
    margin-left: 12%;
  }

  .description:hover .fas {
    margin-right: 2.4em;
  }

  .titre-site-footer {
    text-align: center;
  }

  .pied_resto {
    height: 4em;
  }

  .pied_de_page {
    margin-left: auto;
    margin-right: auto;
  }

  .info_footer_lien {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .proposition {
    width: 20%;
    height: 2em;
  }

  .partenaire {
    width: 18%;
    height: 2em;
  }

  .mentions {
    width: 14%;
    height: 2em;
  }

  .contact {
    width: 8%;
    height: 2em;
  }

  /*===========menu=========*/
  .menu {
    height: 45em;
  }

  .img_menu {
    width: 100%;
  }

  .nom-resto {
    width: 100%;
  }

  .nom-resto .no-like {
    width: 100%;
    margin-left: 0;
  }

  .nom-resto .far {
    margin-right: 34.4%;
    margin-top: 0.5em;
  }

  .nom-resto .fas {
    margin-right: 35.1%;
    margin-top: 2em;
  }

  .nom-resto:hover .fas {
    margin-right: 35.1%;
    margin-top: 2.2em;
  }

  .nom-resto h1 {
    margin-left: 33%;
    width: auto;
  }

  .choix_entrees, .choix_plats, .choix_desserts {
    width: 32.5%;
    background: #f6f6f6;
    padding-bottom: 1em;
    margin-right: 0.1em;
    margin-left: 0.3em;
    border-radius: 1em;
  }

  .liste_menu {
    background: white;
    display: flex;
    flex-wrap: wrap;
  }

  .btn_entrees, .btn_plats, .btn_desserts, .X_btn_plats {
    margin-left: 0.5em;
    margin-right: 1em;
  }

  .intituler {
    width: auto;
  }

  .commande {
    width: 30%;
    margin-top: 1em;
    margin-bottom: 0em;
  }

  .img_menu img {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1em;
  }

  .pied_menu, .pied_menu_francaise {
    height: 6em;
    margin-top: 4em;
  }

  .pied_menu_enchantee {
    height: 6em;
    margin-top: 8em;
  }
}

/*# sourceMappingURL=style.css.map */
